<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Register - SB Admin</title>
        <link href="css/styles.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="bg-primary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Create Account</h3></div>
                                    <div class="card-body">
                                      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                                        <%= render "devise/shared/error_messages", resource: resource %>
                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <input class="form-control" id="inputFirstName" type="text" placeholder="Enter your first name" />
                                                        <label for="inputFirstName">First name</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-floating">
                                                        <input class="form-control" id="inputLastName" type="text" placeholder="Enter your last name" />
                                                        <label for="inputLastName">Last name</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-floating mb-3">
                                              <%= f.email_field :email, class: "form-control", id: "inputEmail", autofocus: true, autocomplete: "email", placeholder: "name@example.co" %>
                                              <%= f.label :email, for: "inputEmail" %>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                      <% if @minimum_password_length %>
                                                      <em>(<%= @minimum_password_length %> characters minimum)</em>
                                                      <% end %>
                                                      <%= f.password_field :password, autocomplete: "new-password", class: "form-control", id: "inputPassword", placeholder: "Create a password" %>
                                                        <%= f.label :password, for: "inputPassword" %>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", id: "inputPasswordConfirm", placeholder: "Confirm password" %>
                                                        <%= f.label :password_confirmation, for: "inputPasswordConfirm" %><br />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mt-4 mb-0">
                                                <div class="d-grid">
                                                  <%= f.submit "Create Account", class: "btn btn-primary btn-block" %>
                                                </div>
                                            </div>
                                        <% end %>
                                    </div>
                                    <div class="card-footer text-center py-3">
                                        <div class="small">
                                          <%- if controller_name != 'sessions' %>
                                            <%= link_to "Have an account? Go to login", new_session_path(resource_name) %><br />
                                          <% end %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <%= render "/shared/login_footer" %>
        </div>
    </body>
</html>
