<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Password Recovery</h3></div>
                    <div class="card-body">
                        <div class="small mb-3 text-muted">Enter your email address and we will send you a link to reset your password.</div>
                        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                          <%= render "devise/shared/error_messages", resource: resource %>
                            <div class="form-floating mb-3">
                                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", id: "inputEmail", placeholder: "name@example.com" %>
                                <%= f.label :email, for: "inputEmail" %>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                <%- if controller_name != 'sessions' %>
                                  <%= link_to "Return to login", new_session_path(resource_name), class: "small" %>
                                <% end %>
                                <%= f.submit "Send me reset password instructions", class: "btn btn-primary" %>
                            </div>
                        <% end %>
                    </div>
                    <div class="card-footer text-center py-3">
                        <div class="small">
                          <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
                            <%= link_to "Need an account? Sign up!", new_registration_path(resource_name) %><br />
                          <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
