<td><%= item.title %></td>
<td><%= image_tag("#{item.img}", height: 100, width: 100) %></td>
<td>
  <span class="mr-1"><%= item.quantity %></span>
  <i class="fa fa-plus-circle mr-1" onclick="increaseItemQuantity('<%= item.id %>')"></i>
  <i class="fa fa-minus-circle" onclick="decreaseItemQuantity('<%= item.id %>')"></i>
</td>
<td><%= item.price %></td>
<td>
  <span class="mr-1"><%= item.quantity * item.price %></span>
  <i class="fa fa-trash" onclick="removeItemFromCart('<%= item.id %>')"></i>
</td>
