<th><%= item.title %></th>
<th><%= image_tag("#{item.img}", height: 100, width: 100) %></th>
<th>
  <%= item.quantity %><br>
  <button type="button" name="button" onclick="increaseItemQuantity('<%= item.id %>')">Increase Quantity</button>
  <button type="button" name="button" onclick="decreaseItemQuantity('<%= item.id %>')">Decrease Quantity</button>
</th>
<th><%= item.price %></th>
<th>
  <%= item.quantity * item.price %><br>
  <button type="button" name="button" onclick="removeItemFromCart('<%= item.id %>')">Remove Item</button>
</th>
